{% extends 'base.html.twig' %}

{% block title %}Game
{% endblock %}

{% block body %}
	<h1>Game</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ game.id }}</td>
			</tr>
			<tr>
				<th>GameDate</th>
				<td>{{ game.gameDate ? game.gameDate|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>ScorePlayer1</th>
				<td>{{ game.scorePlayer1 }}</td>
			</tr>
			<tr>
				<th>ScorePlayer2</th>
				<td>{{ game.scorePlayer2 }}</td>
			</tr>
			<tr>
				<th>Status</th>
				<td>{{ game.status }}</td>
			</tr>
			{# {% for player in game.player %}
										<tr>
											<th>Player</th>
											<td>{{ player }}</td>
										</tr>
									{% endfor %} #}
		</tbody>
	</tbody>
</table>

<a href="{{ path('app_tournament_index') }}">back to tournament</a>

<a href="{{ path('app_game_edit', {'id': game.id}) }}">edit</a>

{{ include('game/_delete_form.html.twig') }}{% endblock %}
